// variables
$primary-color: rgb(116, 241, 255);
$secondary-color: #ffc4fa;
$third-color: rgb(14,14,14);
$fourth-color: #ffd900;
$glass-color: #000000c9;
$primary-glow-color: #0798ff;
$secondary-glow-color: #ff06de;
$font-family: "Ysabeau Infant", sans-serif;
$text-color: white;
$font-size: 35px ;
// end of variables